extends ./layout/index

block slider
    .slider
        h1= slider_header 
        em= slider_description

block content
    main.container.mt-5
        h2.text-center.mb-5= title                    
        .row.mb-5                    
            .col-md-6
                p= description
                p= description
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt ="", class="img-fluid")
        h3.text-center Latest Tours
        include tours_block
    
    include discount